<head>
<title>Battle</title>
 </head>
 <body>
  <form action="/names" method="post">
  <div>Player 1
    <input type="text" id="player-1"> 
  </div>
  <div>Player 2
    <input type="text" id="player-2">
  </div>
  <div>
    <input type="submit" value="Play">
  </div>
  </form>
 </body>