<head>
<title>Battle</title>
 </head>
 <body>
  <form action="/names" method="post">
  <div>Player 1
    <input type="text" name="player_1"> 
  </div>
  <div>Player 2
    <input type="text" name="player_2">
  </div>
  <div>
    <input type="submit" value="Play">
  </div>
  </form>
 </body>